[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrogram = "==2.0.97"
tgcrypto = "==1.2.5"
aiohttp = "==3.8.3"
xmltodict = "==0.13.0"

[dev-packages]

[requires]
python_version = "3.8"
